<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>
<body>
<div id="app">
    <h2 v-if="type === 'a'">A</h2>
    <h2 v-else-if="type === 'b'">B</h2>
    <h2 v-else-if="type === 'c'">C</h2>
    <h2 v-else>not match</h2>
    <input type="text" v-model="type">
    <hr>
    <template v-if="isVisible">
    <h2>I'm title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, id?</p>
    </template>
    <template v-else>
    <h2 style="color:red;">I'm title</h2>
    <p style="color:red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, id?</p>
    </template>
    <button @click="isVisible =!isVisible">chenge</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            type: 'a',
            isVisible: false,
        },
        computed: {

        }
    });
</script>
</body>
</html>